.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 20px;
}


.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.about-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
  border: 4px solid #e50914;
}

.about-text {
  max-width: 600px;
  margin: 20px;
}

.about-text h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e50914;
  box-shadow: 0 0 10px #e50914;
  margin-bottom: 20px;
}
