.App {
  text-align: center;
  color: white;
  background-color: #141414;
  min-height: 100vh;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}
.App {
  position: relative;
  z-index: 1;
}
html {
  scroll-behavior: smooth;
}
section, header {
  width: 100%;
}
